* {
    box-sizing: border-box;
}

.myCalculator {
    width: 234px;
    height: 334px;
    background: dimgray;
    padding: 5px;
}

.output {
    line-height: 40px;
    background-color: white;
    color: grey;
    height: 45px;
    margin: 4px;
    font-size: 1.4em;
    text-align: right;
    font-family: monospace;
    padding: 0 8px;
}

.btn {
    width: 50px;
    height: 50px;
    padding: 7px;
    margin: 3px;
    background-color: azure;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
    vertical-align: middle;
    line-height: 54px;
    display: inline-block;
}

.row {
    width: 100%;
    display: block;
}
